<div class="col-xs-12 col-md-12">
  <h1>Add a new person</h1>
  <form [formGroup]="addNewPersonForm"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first-name">First name</label>
      <input type="text"
             class="form-control"
             formControlName="firstName">
      <div [hidden]="addNewPersonForm.controls.firstName.valid || addNewPersonForm.controls.firstName.pristine"
           class="alert alert-danger">
        First name is required
      </div>
    </div>
    <div class="form-group">
      <label for="last-name">Last name</label>
      <input type="text"
             class="form-control"
             formControlName="lastName">
      <div [hidden]="addNewPersonForm.controls.lastName.valid || addNewPersonForm.controls.lastName.pristine"
           class="alert alert-danger">
        Last name is required
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Last name</label>
      <select formControlName="gender"
              class="form-control">
        <option *ngFor="let gender of genders | enumToArray"
                [value]="gender.value">
          {{gender.key}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="fav">Fav?</label>
      <input type="checkbox"
             class="form-control"
             formControlName="fav">
    </div>
    <button [disabled]="!addNewPersonForm.valid"
            type="submit"
            class="btn btn-success">Submit</button>
  </form>
  <p>Form value: {{ addNewPersonForm.value | json }}</p>
</div>
